:root {
  --bg: rgb(255, 255, 255);
  --dark: rgb(40, 198, 255);
  --dark-sea: #2c3033;
  --grey: #1f1d1d;
  --white: #fff;
  --violet-dark: rgb(112, 136, 255);
  --violet: rgb(61, 132, 255);
  --light: #f6f6f7;
  --sea: #9adaf8;
}
